<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981846645485-fbdatejmmav9b38l1km3td5q68kfjqe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981846645485-fbdatejmmav9b38l1km3td5q68kfjqe9</string>
	<key>API_KEY</key>
	<string>AIzaSyDEOHbxedCJXrgpul9kQw_3tEMNSbQUchY</string>
	<key>GCM_SENDER_ID</key>
	<string>981846645485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omrobbie.CPPT</string>
	<key>PROJECT_ID</key>
	<string>cppt-dpjp</string>
	<key>STORAGE_BUCKET</key>
	<string>cppt-dpjp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981846645485:ios:17dafdd184710f45e10ae4</string>
	<key>DATABASE_URL</key>
	<string>https://cppt-dpjp.firebaseio.com</string>
</dict>
</plist>